{% extends 'aserticLanA2Bundle::layout.html.twig' %}

{% block body -%}
    <h1>Users list</h1>
    <ul>
        <li>
            <a href="{{ path('users_new') }}">
                Create a new entry
            </a>
        </li>
        <li>
            <form action="/users/search" method="get">
                Search by domain: <input type="text" name="domain">
                <input type="submit" value="Search">
           </form>
        </li>
        
    </ul>
    <center>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Domain</th>
                <th>Homedir</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('users_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.user }}</td>
                <td>{{ entity.domain }}</td>
                <td>{{ entity.dir }}</td>
                <td>
                        <a href="{{ path('users_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </center>
    {% endblock %}
