{% extends 'aserticLanA2Bundle::layout.html.twig' %}

{% block body -%}
    <h1>Users creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('users') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
