{% extends 'aserticLanA2Bundle::layout.html.twig' %}

{% block body -%}
    <h1>Users</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>User</th>
                <td>{{ entity.user }}</td>
            </tr>
            <tr>
                <th>Uid</th>
                <td>{{ entity.uid }}</td>
            </tr>
            <tr>
                <th>Gid</th>
                <td>{{ entity.gid }}</td>
            </tr>
            <tr>
                <th>Dir</th>
                <td>{{ entity.dir }}</td>
            </tr>
            <tr>
                <th>Quotafiles</th>
                <td>{{ entity.quotafiles }}</td>
            </tr>
            <tr>
                <th>Quotasize</th>
                <td>{{ entity.quotasize }}</td>
            </tr>
            <tr>
                <th>Ulbandwidth</th>
                <td>{{ entity.ulbandwidth }}</td>
            </tr>
            <tr>
                <th>Dlbandwidth</th>
                <td>{{ entity.dlbandwidth }}</td>
            </tr>
            <tr>
                <th>Ipaddress</th>
                <td>{{ entity.ipaddress }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ entity.comment }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Ulratio</th>
                <td>{{ entity.ulratio }}</td>
            </tr>
            <tr>
                <th>Dlratio</th>
                <td>{{ entity.dlratio }}</td>
            </tr>
            <tr>
                <th>Domain</th>
                <td>{{ entity.domain }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('users') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('users_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
