tbody tr:hover { background: #BDBDBD; }
tbody tr {height: 25px;}
tbody td {padding-right: 12px;}
#asertic_lana2bundle_admin {text-align:right; padding-right: 220px;}
#asertic_lana2bundle_users {text-align:right; padding-right: 220px;}
label {padding-right: 12px;}
table.records_list {margin-bottom: 24px;}
table.records_list thead tr th {padding-right: 12px;}


#login-form {
    margin-top: 25px;
    position: relative;
    width: 580px;
    color: white;
}

#login-form .box-inner {
    background: #5c5c5c;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 1px #ccc inset;
    margin: 0 50px;
    padding: 50px 24px 24px;
    width: 430px;
}

#login-form .box-inner form input, #login-form .box-inner form p input { color:black;}