<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ asset('bundles/aserticlana2/images/logo.png') }}" />

    <title>Pure-FTPd Virtual Users Manager</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/aserticlana2/css/bootstrap.min.css') }}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ asset('bundles/aserticlana2/css/jumbotron-narrow.css') }}" />

    <link rel="stylesheet" href="{{ asset('bundles/aserticlana2/css/style.css') }}" type="text/css" media="all" />
    
    <!-- jqueryFileTree -->
    <script src="{{ asset('bundles/aserticlana2/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/aserticlana2/js/jquery.easing.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/aserticlana2/js/jqueryFileTree.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/aserticlana2/js/jqueryFileTreeGlue.js') }}" type="text/javascript"></script>
    <link href="{{ asset('bundles/aserticlana2/css/jqueryFileTree.css') }}" rel="stylesheet" type="text/css" media="screen" />
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
            {% if is_granted("ROLE_ADMIN") %}
            <li><a href="/admin">Domain admins</a></li>
            {% endif %}
            <li><a href="/users">Users</a></li>
        </ul>
        <h3 class="text-muted">Pure-FTPd Virtual Users Manager</h3>
      </div>

      <div class="jumbotron">
        <p class="lead">
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">Logout</a> 
        </p>
        Size used : {{ app.user.directorysize }}
      </div>
      <div class="row marketing">
            {% block body %}{% endblock %}
      </div>

      <div class="footer">
        <p>&copy; LanA2 & asertic 2014</p>
        <img style="float:right;" src="{{ asset('bundles/aserticlana2/images/pure-ftpd.png') }}" alt="Pure-FTPd Virtual Users Manager" />
      </div>

    </div> <!-- /container -->
  </body>
</html>
