<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ asset('bundles/aserticlana2/images/logo.png') }}" />

    <title>Pure-FTPd Virtual Users Manager</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/aserticlana2/css/bootstrap.min.css') }}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ asset('bundles/aserticlana2/css/jumbotron-narrow.css') }}" />

    <link rel="stylesheet" href="{{ asset('bundles/aserticlana2/css/style.css') }}" type="text/css" media="all" />
    
    <!-- jqueryFileTree -->
    <script src="{{ asset('bundles/aserticlana2/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/aserticlana2/js/jquery.easing.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/aserticlana2/js/jqueryFileTree.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/aserticlana2/js/jqueryFileTreeGlue.js') }}" type="text/javascript"></script>
    <link href="{{ asset('bundles/aserticlana2/css/jqueryFileTree.css') }}" rel="stylesheet" type="text/css" media="screen" />
  </head>

  <body>
    <center>
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }} Admin FTP2</a>
            {% endif %}
        </div>

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <p>
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        </center>
    </body>
</html>
