{% extends 'aserticLanA2Bundle::layout.html.twig' %}

{% block body -%}
    <h1>Admin edit</h1>
    <ul class="record_actions">
        <li>
            <a href="{{ path('admin') }}">
            Back to the list
            </a>
        </li>
    </ul>
    
    <center>

    {{ form(edit_form) }} 
     
    <span style="float:right;margin-bottom: 24px;"> {{ form(delete_form) }}</span>

    </center>
{% endblock %}
