{% extends 'aserticLanA2Bundle::layout.html.twig' %}

{% block body -%}
    <h1>Admin list</h1>

    <ul>
        <li>
            <a href="{{ path('admin_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    <center>
    <table class="records_list">
        <thead>
            <tr>
                <th>Username</th>
                <th>Domain</th>
                <th>Basedir</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_edit', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td>{{ entity.domain }}</td>
                <td>{{ entity.baseDir }}</td>
                <td>
                    <a href="{{ path('admin_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </center>
    {% endblock %}
